.header
   display: flex
   justify-content: space-between
   align-items: center
   &__official-text
      font-size: 12px
      line-height: 12px
      // display: flex
      // align-items: flex-end
      // text-align: center
      color: #FFFFFF
   &__official-name
      font-weight: 500
      font-size: 18px
      line-height: 29px display: flex
      align-items: flex-end
      text-align: center
      color: #FFFFFF
   &__contact 
      
	&__phone 
      font-weight: 700
      font-size: 18px
      line-height: 18px
      display: flex
      align-items: flex-end
      text-align: right
      color: #FFFFFF
	&__button




