@import variables.sass
@import mixins.sass
@import promo.sass
@import header.sass
@import buttons.sass
@import advantages.sass
@import consultation.sass
@import forms.sass

body
   font-family: 'MuseoModerno', sans-serif
.container
   max-width: 950px
   margin: 0 auto
   @media (max-width: 949px)
      padding: 0 15px
.section-title
   font-weight: 700
   font-size: 30px
   line-height: 30px
   text-align: center
   color: #0D0D0D
   margin: 0 auto

.section-title_light
   font-weight: 400
   line-height: 45px
